{% extends "base.html" %}
{% block content %}

<br><br>


    <div class='task_form'>
        <div class="edit_task">
            <div class=''>
                <h2 class = "title">MorgenList - Simple task manager</h2>
                <p><i>"morgen, morgen, nur nicht heute,<br>
                    sagen alle faulen Leute"</i></p>
                <p># TaskManager -
                    Simple To do list without bloat<br>
                    <br>
                    I don't want all in one complicated app like microsoft todo<br>
                    I want simple hammer in the world of swiss knifes.<br>
                    <br>
                    Simply login and add projects and tasks, <br>
                    no customization, no fancy canban tables, no agile workflows etc.<br>
                    </p>
            </div>
        </div>
    </div>

{% endblock %}