{% extends "base.html" %}
{% block content %}

<br>

    <div class='task_form'>
        <div class="edit_task">
            <div class=''>
                <h2 class = "title">Login</h2>
                <p>Login here</p>
    
                <form method="POST" action="">
                    {% csrf_token %}
    
                    {{ form.as_p }}<br>
                    
                    <input type="submit" value="Submit">
                </form><br>
                <p>No account?<br>
    <a href="{% url 'register' %}">Register</a></p>
            </div>
        </div>
    </div>

{% endblock %}