{% extends "base.html" %}
{% block content %}

<div class=>
    <div class='taskfield'>
        {% for project in project_list %}
        <div class="project">
            <a href="{% url 'edit_project' pk=project.pk %}">
            <div class="container">
            {{ project.title }}
            </div> </a>
        </div>
        <a class = "projectx" href="{% url 'delete_project' pk=project.pk %}">
            <div class="container">
                X
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}