{% extends "base.html" %}
{% block content %}
<br>
<div class='task_form'>
    <div class="edit_task">
        <div class=''>
            <h2 class = "title">Project:</h2>
            <p>Edit Project details</p>

            <form method="POST" action="">
                {% csrf_token %}

                STATUS: {{ form.status }}<br><br>
                Title: {{ form.title }}<br><br>
                <input type="submit" value="Submit">
            </form><br>
        </div>
    </div>
</div>



{% endblock %}