{% extends "base.html" %}
{% block content %}

<br>
    <div class='task_form'>
        <div class="edit_task">
            <div class=''>
                <h2 class = "title">Register</h2>
                <p>Register here</p>
    
                <form method="POST" action="">
                    {% csrf_token %}
    
                    {{ form.as_p }}<br>
                    
                    <input type="submit" value="Submit">
                </form><br>
                <p>Already have an account?<br>
    <a href="{% url 'user_login' %}">Login</a> </p>
            </div>
        </div>
    </div>

{% endblock %}