{% extends "base.html" %}
{% block content %}
<nav class="sub-navbar">
    <ul class="nav-links">
        <li class="sub-nav-link"><a href="{% url 'task_list' %}">All Tasks</a></li>
        <li class="sub-nav-link"><a href="{% url 'task_done' %}">Finished Tasks</a></li>
        <li class="sub-nav-link"> <div class="dropdown">
            <a href='#' class="drop-btn">Filter by Project:</a>
            <div class="dropdown-content">
                {% for project in projects %}
                <a href="{% url 'project_detail' pk=project.pk %}">{{ project.title }}</a>
                {% endfor %}
            </div>
          </div> </li>
    </ul>
</nav>



<br><br><br>


{% if project %}
    <p>Project filtering is on</p>
    {% for task in project.Tasks.all %}
        <a href="{% url 'edit_task' pk=task.pk %}">
            <div class="task">
                <p>{{ task.created_on }}</p>
                <h3 class = "title">{{ task.title }}</h3>
                
                <p>{{ task.description }}</p>
                <p>{{ task.project }}</p>
                <p>{{ task.author }}</p><br>
            </div></a>
    {% empty %}
    <p>List is empty</p>

    {% endfor %}
{% else %}

    {% for task in task_list %}
   
        <div class="task">
            <a href="{% url 'edit_task' pk=task.pk %}">
            <div class="container">
                <p>{{ task.created_on }}</p>
                <h3 class = "title">{{ task.title }}</h3>
                <p>{{ task.description }}<br>
                {{ task.project }}<br>
                {{ task.author }}<br>
            </div> </a>
        </div>
        
        <p></p>
    {% empty %}
    <p>List is empty</p>

    {% endfor %}
{% endif %}

{% endblock %}