{% extends "base.html" %}
{% block content %}

<h2 class = "title">Tasks to be done:</h2>

{% for project in projects %}
<a href="{% url 'project_detail' pk=project.pk %}">{{ project.title }}</a>
{% endfor %}
{% for task in task_list %}
    <div class = "task">
        <h3 class = "title">{{ task.title }}</h3>
        <p>{{ task.created_on }}</p>
        <p>{{ task.description }}</p>
        <p>{{ task.author }}</p>
    </div>
    
    <p></p>
{% empty %}
<p>List is empty</p>

{% endfor %}

{% endblock %}