body {
    margin: 0;
    font-family: 'Gudea', sans-serif;
    font-weight: 300;
    color: rgb(53, 36, 36);
    background-color: rgb(255, 255, 255);
}

.task {
    background-color: aquamarine;
}

ul 
{
    list-style-type: none;
}

.nav-item a {
    display: inline-block;
    padding: 1em 2em;
    text-decoration: none;
    color: rgb(240, 221, 221);
  }

.sub-nav-link a {
    display: inline-block;
    padding: 0.01em 1em;
    text-decoration: none;
    color: rgb(138, 130, 130);
  }

.site-logo {
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    font-size: large;
}

.MyNavbar {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    align-items: center;
    transition: 50ms;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drop-btn {background-color: #8c8a8f;}

.sub-navbar {
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    display: flex;
    justify-content: center;
    background-color: rgb(54, 54, 54);
    align-items: center;
    transition: 50ms;
}

.nav-links {
    display: flex;
}

.MyNavbar > li {
    flex: 1;
}

@media all and (max-width: 600px) {  
    
    .MyNavbar {  
      flex-wrap: wrap;  
    }  
      
    .MyNavbar > li {  
      flex-basis: 50%;  
    }
  
  }

@media all and (max-width: 400px) {

    .MyNavbar > li {  
      flex-basis: 100%;  
    } 
